*{
    margin: 0;
    padding: 0;
}
.library{
    background-image:url(book3.webp);
    font-family: algerian;
        background-size: 100%;
    height: 100%;
}
.course{
    /* background-color:rgb(77, 19, 20); */
    background: linear-gradient(to top, rgba(255,255,255,0.6));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    color: white;
    /* color: aliceblue; */
    text-align: center;
    width: 50vw;
    height: 270vh;
    border: 5px solid black;
    border-radius: 7px;
    margin: 5% 25% 5% 25%;
    /* margin-bottom: ; */
}

.card{
    background: linear-gradient(to top, rgba(255,255,255,0.6));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    max-width: 60vw;
    margin: 37px auto;
    font-family: 'algerian';
    font-size: 16px;

 }
 
 .cards{
     display: flex;
    
     /* align-items: center; */
     /* justify-content: center; */
    overflow-x: scroll;
 }
 
 .card-item{
     display: inline-flex;
     justify-content: center;
     flex-direction: column;
     margin: 0 15px;
 }
 
 .card h2{
     font-family:algerian;
     padding: 20px;
 
 }
 
 /* .container{
     min-height: calc(100vh - 58px - 12vh);
 } */
 footer {
    height: 8vh;
    background-color:rgb(81,7,7);
    color:whitesmoke;
    text-align: center;
    font-size: 20px;
    font-family: 'high tower text';
}
